@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* This ensures the full height of the viewport is used */
}

.content {
    height: 100vh; /* Use the viewport height to make the div take the full height of the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 50% 50%, #fff6fb, #ffcbfb); /* Circular gradient */
    font-family: 'Radley', serif; 
  }  
  
  .content h1 {
    font-family: 'Radley', sans-serif; 
    color: #333; 
    font-size: 4rem; 
    margin: 0;
    font-family: 'Radley', serif; 
  }
  
  button.home {
    background: none;
    border: none;
    color: #B76E79; 
    font-family: 'Radley', sans-serif; 
    font-size: 1.5rem; 
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Radley', serif; 
  }
  
  button.home:hover {
    transform: scale(1.1);
  }
  